.user{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    justify-content: center;
    
}
.userWarpper{
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
    padding: 1.5vmax;
    gap: 2vw;
    background:rgba(11, 11, 14, 0.3);
    height: 50vh;
    width: 30vw;
}
